/********** global.css **********/

/*
blue : 3c63af
yellow : f8af2d
*/

/*html reset*/
body, h1, h2, h3, h4, h5, h6, pre, p, address, li, dl, dt, dd, table, caption, th, td, form, fieldset, legend { margin: 0; padding: 0; }
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
fieldset, abbr, acronym { border: 0; }
img { border: 0; vertical-align: middle; }
address { font-style: normal; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

legend { color: inherit; }
input, select, button { vertical-align: middle; font-family: inherit; font-size: 1em; line-height: normal; }
textarea { font-family: inherit; font-size: 1em; overflow: auto; resize: vertical; }
button, select, textarea, input:not([type="radio"]):not([type="checkbox"]) { margin: 0; }
input[type="button"], input[type="submit"], input[type="reset"], button { cursor: pointer; }
input[disabled], button[disabled] { cursor: default; }
input[type="radio"], input[type="checkbox"] { vertical-align: 0%; }
button { -webkit-appearance: push-button; }
input { -webkit-border-radius: 0; }

sup, sub { vertical-align: 0; position: relative; }
sup { bottom: 1ex; }
sub { top: 0.8ex; }

p { margin-bottom: 1em; }
hr { height: 1px; border: 0; border-top: 1px solid; margin-bottom: 1em; clear: both; }

blockquote { margin: 1em 40px; }
ul, ol { margin: 1em 0; padding: 0 0 0 2em; }



/*global styles & helper classes*/
body { font: 81.25%/1.385 arial, sans-serif; background: #333;  }

a { color: #3c63af; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { font: 30px 'FS Albert Web Regular', Verdana, sans-serif; font-size-adjust: 0.48; margin-bottom: 4px; }
h2 { font-size: 18px; line-height: 1.222; margin-bottom: 20px; }

.nav ul { list-style: none; margin: 0; padding: 0; }

.img img,
.figure img { display: block; }

.clear { clear: both; height: 0; line-height: 0; }
.hidden { position: absolute; top: -9999px; left: -9999px; width: 1px; height: 1px; overflow: hidden; }
.invisible { visibility: hidden; }
.nowrap { white-space: nowrap; }

.header:after,
.footer:after,
.article:after,
.section:after,
.nav:after,
.aside:after,

.body:after,
.cf:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.ir { display: block; text-indent: -9999px; overflow: hidden; text-align: left; background-repeat: no-repeat; background-color: transparent; border: 0; }
.ir a { display: block; background-repeat: no-repeat; background-color: transparent; }
.ir br { display: none; }

.flt-l { float: left; }
.flt-r { float: right; }

.btn { background: #f8af2d; font-size: 15px; line-height: 35px; font-weight: bold; color: #333; text-align: center; padding: 0 10px; display: inline-block; border-radius: 4px; font-family: arial; }
.btn.active,
.btn:hover { background: #3c63af !important; color: #fff !important; text-decoration: none; }

ul.links { padding: 0; list-style: none; margin-top: 0; }
ul.links li { padding-left: 8px; background: url(../images/bul.blu.png) no-repeat 0 7px; margin-bottom: 12px; }

ul.style-a { list-style: none; padding: 0; margin-top: 0; }
ul.style-a li { font-size: 1.077em; line-height: 1.286; margin-bottom: 4px; padding-left: 10px; background: url(../images/bul.pt.gif) no-repeat 1px 5px; }

.layout-625_300 .col-1 { width: 625px; float: left; }
.layout-625_300 .col-2 { width: 300px; float: right; }
.layout-160_755 .col-1 { width: 160px; float: left; }
.layout-160_755 .col-2 { width: 755px; float: right; }


/*primary containers*/
#page-wrap { min-width: 960px; }
#pagehdr-wrap { border-top: 6px solid #f8af2d; background: #efefef; min-width: 960px; }
#pagehdr { width: 950px; margin: 0 auto; padding-left: 10px; }
#pagehdr:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
#pagebdy-wrap { background: #fff; min-width: 960px; }
#pagebdy-wrap.bg-dk { background: #efefef; }
#pagebdy { width: 960px; margin: 0 auto; padding-bottom: 70px; }
#pageftr { width: 960px; margin: 0 auto; overflow: hidden; }


/*pagehdr*/
#user { padding-bottom: 10px; }
#user ul { float: right; padding-right: 1px; }
#user li { float: left; margin-right: 4px; }
#user a { display: block; font-weight: bold; min-width: 65px; padding: 8px 5px 7px; text-align: center; }
#user .btn-style a { background: #f8af2d; border-radius: 0 0 4px 4px; }
#user a:hover { background: #3c63af !important; color: #fff !important; text-decoration: none; border-radius: 0 0 4px 4px; }

#pagehdr .logo { float: left; }

#pagehdr #db { float: right; padding: 2px 5px 10px 18px; width: 190px; }
#db legend,
#db label { position: absolute; top: -9999px; left: -9999px; width: 1px; height: 1px; overflow: hidden; }
#db .wrap { background: #fff; width: 180px; padding: 9px 0 10px 10px; margin-bottom: 6px; }
#db input#search { border: 0; background: #fff; width: 145px; padding: 0; outline: 0; line-height: 22px; height: 22px; }
input#search:-moz-placeholder { font-size: 20px;color: #333; font: 20px/1 'FS Albert Web Regular', Verdana, sans-serif; font-size-adjust: 0.48; }
input#search::-webkit-input-placeholder { font-size: 20px; color: #333; font: 20px/1 'FS Albert Web Regular', Verdana, sans-serif; font-size-adjust: 0.48; }
#db .placeholder { font-size: 20px; font: 20px/1 'FS Albert Web Regular', Verdana, sans-serif; font-size-adjust: 0.48; }
#pagehdr #advSearch { font-size: 0.923em; float: right; }

#nav-main { float: right; padding-top: 2px; }
#nav-main > ul > li { float: left; font: 20px/1 'FS Albert Web Regular', Verdana, sans-serif; font-size-adjust: 0.48; border-left: 1px solid #bbb; }
#nav-main li:first-child a { border: 0; }
#nav-main > ul > li > a { display: block; height: 30px; padding: 10px 17px 0; }
#nav-main > ul > li > a:hover { color: #333; text-decoration: none; }
#nav-main li.active > a { color: #333; }

#nav-main.txt-lg > ul > li { font-size: 28px; height: 90px; }
#nav-main.txt-lg > ul > li > a { height: 56px; padding: 14px 30px 0; }

#nav-main .hover > a { background-color: #fff !important; padding-top: 17px !important; margin-top: -7px; border-radius: 4px 4px 0 0; box-shadow: 3px 3px 3px rgba(0,0,0,0.15), -3px 3px 3px rgba(0,0,0,0.15); }
#nav-main.txt-lg .hover > a { padding-top: 23px !important; margin-top: -9px; }
#nav-main .submenu { display: none; position: absolute; background: #fff; z-index: 10; font-size: 14px; padding: 20px 0 30px; width: 600px; margin-left: -300px; border-radius: 4px; box-shadow: -3px 3px 3px rgba(0,0,0,0.15), 3px 3px 3px rgba(0,0,0,0.15); }
#nav-main .hover .submenu { display: block; }
html:not(.js) #nav-main > ul > li:hover .submenu { display: block; }
#nav-main .submenu .block { display: table-cell; vertical-align: top; width: 249px; padding: 0 25px; border-right: 1px solid #d1d1d1; }
#nav-main .submenu .menu { display: table-cell; vertical-align: top; width: 300px; font-family: arial; }
#nav-main .submenu .menu li { line-height: 1; }
#nav-main .submenu .menu a { display: block; padding: 7px 30px 8px; color: #333; }
#nav-main .submenu .menu a:hover { color: #fff; background: #3c63af; text-decoration: none; }
.submit-script { font-size: 16px; padding-top: 9px; }
.submit-script h3 { font: 23px/1 'FS Albert Web Regular', Verdana, sans-serif; font-size-adjust: 0.48; box-shadow: 0 15px 15px -15px rgba(0,0,0,0.3); padding-bottom: 17px; margin-bottom: 17px; }
.submit-script ul { list-style-type: disc; padding-left: 1.25em; margin-bottom: 28px; }
.submit-script li { line-height: 1.125; margin-bottom: 6px; }



/*pageftr*/
#pageftr { color: #fff; overflow: hidden; font-size: 0.923em; line-height: 14px; padding: 25px 0 40px; color: #ccc; }
#pageftr a { color: #fff; font-weight: bold; }
#pageftr li { margin-bottom: 2px; }
#pageftr li a { color: #ccc; font-weight: normal; }
#pageftr .nav-aux { word-spacing: 7px; margin-top: 65px; }
#pageftr .nav-aux a { color: #ccc; font-weight: normal; word-spacing: normal; }
.ftr-cols { padding-left: 10px; }
.ftr-cols .col { width: 200px; float: left; margin-right: 40px; }
.ftr-cols .col-3 { width: 437px; margin: 0; padding-left: 23px; position: relative; }
.ftr-cols .col-3 a { white-space: nowrap; }
#icon-cc-ftr { position: absolute; left: 0; top: -2px; }



/*promos*/
#topbanner { width: 960px; margin: 0 auto; padding: 5px 0; }
#topbanner .left { float: left; }
#topbanner .right { float: right; }
#topbanner .center { margin: 0 auto; width: 748px; }
#topbanner .center .title { width: 18px; height: 83px; text-indent: -9999px; background: url(../images/text.vert.ad.gif) no-repeat 0 100%; float: left; }
.ad { margin-bottom: 40px; }
.ad .title { color: #bbb; text-transform: uppercase; text-align: center; font-size: 10px; margin-bottom: 6px; }



/*icons*/
.lnk-social a { display: block; width: 32px; height: 28px; background: url(../images/icon.sprite.social.png) no-repeat; }
.lnk-email a { background-position: 0 0; }
.lnk-email a:hover { background-position: 0 -50px; }
.lnk-rss a { background-position: -38px 0; }
.lnk-rss a:hover { background-position: -38px -50px; }
.lnk-twtr a { background-position: -76px 0; }
.lnk-twtr a:hover { background-position: -76px -50px; }
.lnk-fb a { background-position: -114px 0; }
.lnk-fb a:hover { background-position: -114px -50px; }
.lnk-in a { background-position: -152px 0; }
.lnk-in a:hover { background-position: -152px -50px; }
.lnk-join a { background-position: -190px 0; width: 110px; }
.lnk-join a:hover { background-position: -190px -50px; }
.lnk-alert a { background-position: -306px 0; }
.lnk-alert a:hover { background-position: -306px -50px; }



/*article page*/
#article-block .main { width: 755px; float: left; }
#article-block .sidebar { width: 160px; float: right; font-size: 0.923em; }
#article-block .article { width: 550px; float: right; }
#article-block .nav-col { width: 160px; float: left; }

.article-meta { position: relative; }
.article-meta ul { margin: 0; padding: 0; list-style: none; float: right; border-left: 1px solid #d1d1d1; }
.article-meta li { display: table-cell; vertical-align: bottom; border-right: 1px solid #d1d1d1; text-align: center; font-size: 10px; font-weight: bold; text-transform: uppercase; padding: 15px 7px 0; width: 7em; line-height: 1.1; }
.article-meta .num { font-size: 25px; font-weight: normal; line-height: 1; display: block; margin-bottom: 18px; }
.article-meta .pick { background: url(../images/icon.star.blu.png) no-repeat 50% 18px; }
.article-type { position: absolute; top: 20px; left: 10px; }
.article-type .type { display: inline-block; min-height: 15px; text-transform: uppercase; margin-right: 10px; font: 0.923em/1.25 'FS Albert Web Regular', Verdana, sans-serif; font-size-adjust: 0.48; }
.article-type .oa { background: url(../images/icon.oa.gif) no-repeat 0 50%; padding-left: 14px; }
.article-type .pr { background: url(../images/icon.pr.gif) no-repeat 0 50%; padding-left: 18px; }

#hdr-article { padding: 5px 50px 20px 10px; }
.article-kicker { font-size: 0.846em; line-height: 1; margin-bottom: 8px; text-transform: uppercase; }
#hdr-article .authors { color: #666; margin: 0; }
#hdr-article .authors .author,
#hdr-article .authors .action,
#hdr-article .authors .ellipsis { white-space: nowrap; }
#hdr-article .authors a { cursor: pointer; }
.authors .equal-contrib { height: 13px; width: 15px; display: inline-block; text-indent: -9999px; background: url(../images/icon.co-auth.gif) no-repeat; position: relative; top: 2px; }


#nav-article { }
#nav-article ul { margin-right: -1px; width: 756px; }
#nav-article li { float: left; margin-right: 1px; width: 107px; font-size: 0.923em; line-height: 14px; font-weight: bold; }
#nav-article li a { display: block; height: 67px; padding: 8px 9px 0 9px; color: #fff; }
#nav-article li span.active { display: block; height: 73px; position: relative; top: 6px; margin-top: -6px; background: #f8af2d url(../images/icon.nav.active.png) no-repeat 10px 62px; padding: 8px 9px 0 9px; z-index: 5; }
#nav-article li a { background: #000; }
#nav-article li a:hover { background: #3c63af !important; text-decoration: none; }
#nav-article li + li a { background: #2b2b2b; }
#nav-article li + li + li  a { background: #414141; }
#nav-article li + li + li + li  a { background: #565656; }
#nav-article li + li + li + li + li  a { background: #6c6c6c; }
#nav-article li + li + li + li + li + li  a { background: #818181; }
#nav-article li + li + li + li + li + li + li  a { background: #979797; }
#nav-article.items-6 li { width: 125px; }
#nav-article.items-5 li { width: 150px; }
#nav-article.items-4 li { width: 188px; }
#nav-article.items-5 li a { background: #2b2b2b; }
#nav-article.items-5 li + li a { background: #414141;}
#nav-article.items-5 li + li + li a { background: #565656; }
#nav-article.items-5 li + li + li + li a { background: #6c6c6c; }
#nav-article.items-5 li + li + li + li + li a { background: #818181; }
#nav-article.items-4 li a { background: #2b2b2b; }
#nav-article.items-4 li + li a { background: #565656; }
#nav-article.items-4 li + li + li a {  background: #6c6c6c; }
#nav-article.items-4 li + li + li + li a { background: #818181; }

#nav-article-page { width: 160px; background: #fff; }
#nav-article-page ul { padding-bottom: 7px; margin-bottom: 18px; }
#nav-article-page li { line-height: 1.154; margin-bottom: 9px; padding-left: 10px; }
#nav-article-page a { color: #333; cursor: pointer; }
#nav-article-page .nav-page { border-bottom: 1px solid #d1d1d1; }
.nav-page li { line-height: 1.154; margin-bottom: 9px; padding-left: 10px; }
.nav-page a { color: #333; cursor: pointer; }
.nav-page .active { background: url(../images/bul.pt.blu.gif) no-repeat 0 3px; }
.nav-page .active a { color: #3c63af !important; }
#nav-figures { display: none; }
.js #nav-figures { display: list-item; }

.article-actions { margin-bottom: 40px; }
.article-actions .btn { margin-bottom: 5px; width: 140px; }
.btn-reveal { position: relative; }
.btn-reveal .btn { background: #333; color: #fff; }
.article-actions .flt-l .btn,
.article-actions .flt-r .btn { width: 57px; }
.btn-reveal .content { display: none; background: #3c63af; color: #a7bee9; border-radius: 4px; position: absolute; padding: 15px 10px 20px; width: 140px; font-size: 16px; line-height: 1; min-height: 85px; z-index: 5; }
.btn-reveal.reveal .btn { background: #3c63af; color: #fff; }
.btn-reveal.reveal .content { display: block; }
html:not(.js) .btn-reveal:hover .btn { background: #3c63af; color: #fff; }
html:not(.js) .btn-reveal:hover .content { display: block; }
.btn-reveal ul { margin: 0; padding: 0; list-style: none; }
.btn-reveal .bullet li { padding-left: 10px; background: url(../images/bul.org.png) no-repeat 0 5px; margin-bottom: 10px; }
.btn-reveal .social li { margin-bottom: 8px; }
.btn-reveal .social li img { margin-right: 3px; position: relative; top: -2px; }
.btn-reveal.flt-r .content { right: 0; }
.btn-reveal .content a { color: #fff; font-weight: bold; }
.btn-reveal .content a:hover { color: #f8af2d; text-decoration: none; }
.btn-reveal .content .note { font-size: 12px; display: block; }

#article-block .sidebar .block { margin-bottom: 35px; }
#article-block .sidebar .block .header { border-bottom: 1px solid #dedede; padding-bottom: 10px; margin-bottom: 8px; }
#article-block .sidebar .block h3 { font-size: 1.167em; line-height: 1.214; }

#title-banner { position: fixed; top: -100px; background: #fff; border-bottom: 1px solid #d1d1d1; width: 100%; z-index: 100; }
#title-banner .content { width: 950px; margin: 0 auto; padding: 7px 0 7px 10px; }
#title-banner h1 { font: bold 1.077em arial, sans-serif; margin-bottom: 2px; }
#title-banner .authors { font-size: 0.923em; margin: 0; }
#title-banner .equal-contrib { display: none; }
#title-banner h1,
#title-banner .authors { width: 770px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#title-banner .btn { float: right; cursor: pointer; min-width: 55px; }
#title-banner .btn-g { float: right; cursor: pointer; position: relative; }
#title-banner .btn-g img.btn-logo { position: absolute; right: 40px; }
#title-banner .btn-g a.btn-close { position: absolute; right: 0; top: 2px; width: 25px; height: 25px; background: url(../images/btn.article.close.png); text-indent: -9999px; display: block; }
#title-banner .btn-g a:hover { background-position: -25px 0; }

#banner-ftr { position: fixed; bottom: -100px; left: 0; width: 100%; background: #242424; color: #ccc; }
.touch #banner-ftr { display: none; }
#banner-ftr .content { width: 960px; margin: 0 auto; }
#banner-ftr .col { display: table-cell; vertical-align: middle; }
#banner-ftr .col-1 { width: 123px; padding: 10px 25px 10px 35px; border-right: 1px solid #ddd; }
#banner-ftr .col-2 { width: 540px; padding: 10px 22px 10px 21px; font-size: 12px; line-height: 1.25; }
#banner-ftr .col-3 { background: #3c63af; width: 135px; padding: 10px 23px 10px 25px; color: #d2d2d2; }
#banner-ftr h4 { font: 14px 'FS Albert Web Regular', Verdana, sans-serif; font-size-adjust: 0.48; text-transform: uppercase; }
#banner-ftr .stat .num { font-size: 25px; line-height: 1; float: left; margin-right: 8px; color: #fff; }
#banner-ftr .stat .txt { font-size: 10px; line-height: 12px; text-transform: uppercase; display: table-cell; }

.article .figure { background: #efefef; padding: 15px; margin-bottom: 25px; }
.article .figure .img { background: #fff; padding: 10px; margin-bottom: 10px; width: 320px; float: left; min-height: 120px; }
.article .figure .img a { display: block; position: relative; }
.article .figure .expand { height: 25px; width: 25px; background: url(../images/icon.sprite.expand.png) no-repeat; position: absolute; top: -17px; right: -17px; }
.article .figure .img a:hover .expand { background-position: 0 -25px; }
.article .figure p { margin: 0; clear: both; }
.figure-inline-download { font-size: 0.923em; line-height: 1.25; margin: 15px 0 10px; float: right; width: 165px; }
.figure-inline-download a { display: inline-block; background-repeat: no-repeat; background-position: 0 1px; padding-left: 30px; margin-top: 8px; }
.figure-inline-download .ppt { background-image: url(../images/icon.ppt.png); }
.figure-inline-download .png  { background-image: url(../images/icon.png.png); }
.figure-inline-download .tiff { background-image: url(../images/icon.tiff.png); }

.carousel .wrapper { overflow: auto; }
.js .carousel .wrapper { overflow: hidden; }
.js .carousel .slider { width: 9999em; overflow: hidden; }
.carousel .button { cursor: pointer; }
#figure-thmbs { position: relative; }
html:not(.js) #figure-thmbs { margin-bottom: 25px; }
#figure-thmbs .wrapper { background: #efefef; padding: 20px 0 30px; width: 719px; border-left: 18px solid #efefef; border-right: 18px solid #efefef; }
#figure-thmbs .item { float: left; padding: 0 10px 10px 0; width: 172px; height: 112px;}
#figure-thmbs .item a { display: block; height: 104px; overflow: hidden; padding: 4px 5px; background: #fff; }
#figure-thmbs .item img { height: auto; width: auto; max-width: 162px; max-height: 104px; }
#figure-thmbs .buttons { position: absolute; top: 145px; width: 755px; text-align: center; }
#figure-thmbs .buttons span { background: #7d7d7d; width: 8px; height: 8px; text-indent: -9999px; display: inline-block; border-radius: 4px; cursor: pointer; margin: 0 4px; }
#figure-thmbs .buttons span:hover,
#figure-thmbs .buttons .active { background: #3c63af; }
#fig-toggle { margin-bottom: 25px; }
#fig-toggle span { background: #efefef url(../images/bul.pt.blu.up.gif) no-repeat 160px 50%; cursor: pointer; font-size: 14px; font-weight: bold; color: #3c63af; display: inline-block; padding: 10px 50px 10px 20px; min-width: 120px; float: right; line-height: 1; border-radius: 0 0 5px 5px; }
#fig-toggle .hide { background-image: url(../images/bul.pt.blu.dn.gif); }
#figure-thmbs .button { width: 23px; height: 50px; display: block; background-image: url(../images/btn.sprite.fig.png); position: absolute; top: 50px; cursor: pointer; display: none; }
#figure-thmbs:hover .button { display: block; }
#figure-thmbs .prev { left: 5px; background-position: 0 0; }
#figure-thmbs .prev:hover { background-position: 0 -50px; }
#figure-thmbs .next { right: 5px; background-position: -25px 0; }
#figure-thmbs .next:hover { background-position: -25px -50px; }



/*about authors*/
#about-authors { width: 600px; margin-left: 10px; padding-top: 30px; line-height: 1.308; }
dl.authors { font-size: 0.923em; line-height: 1.333; margin-bottom: 25px; }
dl.authors dt { color: #666; margin-top: 20px; }
#about-authors h3 { margin-top: 20px; }



/*in the news*/
#in-news { padding-top: 10px; }
#in-news .section { padding: 18px 55px 12px 0; border-bottom: 1px solid #b3b3b3; }
#in-news .section:last-of-type { border: 0; }
#in-news .section .header { padding-left: 10px; }
#in-news h2 { font: 20px/1 'FS Albert Web Regular', Verdana, sans-serif; font-size-adjust: 0.48; margin-bottom: 25px; }
.news-item { font-size: 0.923em; margin-bottom: 25px; }
.news-item a { text-decoration: underline; }
.news-item .date { float: left; width: 5.75em; max-width: 100px; line-height: 1; padding-top: 20px; text-align: center; }
.news-item .day { display: block; font-size: 25px; margin-bottom: 18px; }
.news-item .month { display: block; font-weight: bold; font-size: 11px; text-transform: uppercase; }
.news-item .txt { float: right; width: 600px; }
.news-item h3 { font-size: 1.167em; line-height: 1.286; margin-bottom: 3px; }
.news-item h3 a { color: #333; }
.news-item h3 a:hover { color: #3c63af; }
.news-item p { margin-bottom: 10px; }
.news-item .meta { font-size: 0.917em; color: #3c63af; }



/*search results*/
#hdr-search-results { width: 960px; margin: 0 auto; padding: 25px 0 15px; }
#hdr-search-results #db { position: relative; margin: 0 5px 32px 10px; }
#hdr-search-results #db .wrap { width: 760px; padding-left: 10px; margin: 0; }
#hdr-search-results #db input#search { width: 725px; }
#hdr-search-results #advSearch { min-width: 123px; position: absolute; top: 2px; right: 0; }

#search-options { padding-left: 10px; }
#search-options .section { float: left; margin: 0 33px 10px 0; line-height: 28px; color: #fff; white-space: nowrap; }
#search-options .section b { font-weight: normal; padding-right: 4px; }
#search-options .btn { font-size: 13px; line-height: 28px; margin-left: 1px; }
#search-options .view { margin-right: 0; }
#search-options .view b { padding: 0; }
#search-options .view a,
#search-options .view span { color: #fff; margin-left: 7px; padding-left: 20px; background: url(../images/icon.sprite.results.png) no-repeat; display: inline-block; min-height: 17px; }
#search-options .view .figs { background-position: 0 4px; }
#search-options .view .list { background-position: 0 -46px; }
#search-options .view .timeline { background-position: 0 -96px; padding-left: 27px; }

.pagination { text-align: center; position: relative; padding: 0 30px; margin: 20px 0; }
.pagination a,
.pagination span,
.pagination strong { background: #c2c2c2; display: inline-block; font-weight: bold; color: #333; font-size: 14px; line-height: 24px; padding: 0 4px; min-width: 16px; border-radius: 4px; margin: 0 1px; }
.pagination a:hover,
.pagination strong { background-color: #f8af2d !important; text-decoration: none; }
.pagination .prev,
.pagination .next { position: absolute; background: #ddd url(../images/icon.sprite.page.gif) no-repeat; text-indent: -9999px; overflow: hidden; }
.pagination  a.prev,
.pagination a.next { background-color: #333; }
.pagination .prev { left: 0; background-position: 0 -24px; }
.pagination .next { right: 0; }

#pagebdy-wrap.fig-search-page { background: #efefef; }

#search-refine { padding: 0 10px 0 5px; width: 291px; float: left; }
#fig-search-results-wrap { width: 633px; float: right; }
.js #search-refine { display: none; }
.js #fig-search-results-wrap { width: auto; }
.refine #search-refine { display: block; }
.refine #fig-search-results-wrap { width: 633px; float: right; }

#fig-search-results { margin: 0 -21px 0 0; padding: 0; list-style: none; }
#fig-search-results:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
#fig-search-results li { background: #fff; width: 277px; float: left; margin: 0 21px 21px 0; padding: 15px 14px 0 15px; position: relative; line-height: 1.308; }
#fig-search-results .figure { width: 277px; height: 180px; overflow: hidden; margin-bottom: 17px; }
#fig-search-results .figure img { height: auto; width: auto; max-height: 180px; max-width: 277px; }
#fig-search-results .view { margin: 0; padding: 38px 0 0; list-style: none; position: absolute; top: 15px; left: 15px; width: 277px; height: 142px; background: #222; background: rgba(0,0,0,0.8); display: none; }
#fig-search-results li:hover .view { display: block; }
#fig-search-results .view li { background: none; float: none; margin: 0; padding: 0; text-align: center; font-size: 1.077em; line-height: 1; }
#fig-search-results .view a { color: #fff; border-top: 1px solid #999; min-width: 150px; display: inline-block; padding: 7px 0 4px; cursor: pointer; }
#fig-search-results .view li:first-child a { border: 0; }
#fig-search-results .view a:hover { color: #f8af2d; text-decoration: none; }
#fig-search-results .body { height: 13.5em; overflow: auto; }
#fig-search-results .pick { float: right; }
#fig-search-results .date { display: block; font-weight: bold; color: #999; margin-bottom: 12px; }
#fig-search-results .article-kicker { display: none; }
#fig-search-results .article { display: block; font-weight: bold; font-size: 1.077em; line-height: 1.286; margin-bottom: 12px; }
#fig-search-results .article a { color: #000; }
#fig-search-results .article a:hover { color: #3c63af; text-decoration: none; }
#fig-search-results .authors { display: block; color: #666; }
#fig-search-results .metrics { display: block; border-top: 1px solid #d9d9d9; font-size: 0.846em; line-height: 1; font-weight: bold; padding-top: 15px; min-height: 2.25em; }

.facet { margin-bottom: 25px; }
.facet dt { font-weight: bold; margin-bottom: 5px; padding-left: 22px; background: url(../images/bul.pt.dn.gif) no-repeat 5px 50%; }
.facet dd { margin-bottom: 6px; padding-left: 5px; }
#journalFacet dd,
#subjectFacet dd { padding-left: 23px; text-indent: -23px; margin-bottom: 4px; }
#journalFacet label a,
#subjectFacet label a { padding-left: 22px; }

#search-display { background: #333 url(../images/icon.sprite.toggle.gif) no-repeat 100% 18px; color: #fff; font-size: 14px; font-weight: bold; line-height: 40px; display: inline-block; cursor: pointer; padding: 0 50px 0 20px; min-width: 60px; border-radius: 0 0 4px 4px; position: absolute; top: 0; left: 1px; }
#search-display.open { background-color: #efefef; background-position: 100% -32px; color: #3c63af; }

#fig-search-block .header { position: relative; padding-top: 18px; min-height: 34px; }
#fig-search-block .header h2 { text-align: center; font-size: 0.923em; font-weight: normal; margin: 0 auto; width: 425px; }
#fig-search-block .header h2 span { font-weight: bold; color: #3c63af; }
#fig-search-block .header #connect { position: absolute; top: 11px; right: 0; }
#fig-search-block .header #connect .txt { float: left; font-size: 12px; line-height: 28px; padding-right: 5px; }
#fig-search-block .header .lnk-social { float: left; }
#fig-search-block .header .lnk-social li { float: left; margin-left: 5px; }

#search-results-block .hdr-results { padding: 20px 0 30px; }
#search-results-block .hdr-results h2 { font-weight: normal; font-size: 0.923em; text-align: center; margin: 0; }
#search-results-block .hdr-results h2 span { font-weight: bold; color: #3c63af; }
#search-results-block .main { float: left; width: 600px; padding-left: 10px; }
#search-results-block .sidebar { float: right; width: 225px; }

#search-results { margin: 15px 0 45px; padding: 0; list-style: none; font-size: 0.923em; }
#search-results li { margin-bottom: 25px; }
#search-results .article { display: block; font-size: 1.167em; font-weight: bold; line-height: 1.286; margin-bottom: 3px; }
#search-results .article a { color: #333; text-decoration: underline; }
#search-results .article a:hover { color: #3c63af; }
#search-results .authors { display: block; color: #666; }
#search-results .metrics { display: block; font-size: 0.917em; font-weight: bold; margin-top: 8px; }

.blk-style-a { background: #333; color: #999; border-radius: 4px; margin-bottom: 20px; padding: 13px 25px 12px; font-size: 14px; line-height: 1.143; }
.blk-style-a .header { box-shadow: 0 7px 7px -4px rgba(0,0,0,0.5); text-align: center; margin-bottom: 18px; padding-bottom: 12px; }
.blk-style-a .header h3 { font-size: 15px; color: #fff; line-height: 1; }
.blk-style-a ul { margin: 0 0 10px; padding: 0; list-style: none; }
.blk-style-a li { margin-bottom: 6px; }
.blk-style-a a { color: #f8af2d; font-weight: bold; }

.blk-related-collections {  }
.blk-related-collections h4 { font-weight: normal; margin-bottom: 2px; color: #fff; }
.blk-related-collections p { margin: 0 0 15px; }
.blk-related-collections a { }

.block ul.actions { margin: 6px 0 25px; }
.block ul.actions li { position: relative; padding-right: 60px; }
.block ul.actions li .icons { position: absolute; right: 0; top: 0; display: none; }
.block ul.actions li:hover .icons { display: inline; }

ul.chart-bar { font-size: 14px; font-weight: bold; line-height: 1; padding-top: 3px; margin-bottom: 15px; }
ul.chart-bar .bar { display: block; background: #3c63af; height: 40px; }
ul.chart-bar li { margin-bottom: 3px; position: relative; height: 40px; }
ul.chart-bar a { color: #fff; position: absolute; padding: 14px 0 0 7px; height: 26px; width: 165px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
ul.chart-bar a:hover { color: #f8af2d; text-decoration: none; }
ul.chart-bar li + li .bar { background: #3a5790; }
ul.chart-bar li + li + li .bar { background: #38507d; }
ul.chart-bar li + li + li + li .bar { background: #374665; }




/*figure viewer*/
#fig-viewer { background: #fff; width: 870px; overflow: hidden; position: fixed; z-index: 600; }

#fig-viewer .header { padding: 15px 20px 0; height: 60px; border-bottom: 1px solid #d2d2d2; background: url(../images/logo.plos.95.png) no-repeat 716px 15px; position: relative; }
#fig-viewer .article-kicker { margin-bottom: 3px; }
#fig-viewer h1 { font: bold 1.077em arial, sans-serif; margin-bottom: 2px; width: 615px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#fig-viewer .authors { font-size: 0.923em; margin: 0; width: 460px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#fig-viewer .equal-contrib { display: none; }
#fig-viewer .close { display: block; height: 25px; width: 25px; background: url(../images/btn.sprite.close.png) no-repeat; cursor: pointer; position: absolute; top: 17px; right: 20px; }
#fig-viewer .close:hover { background-position: 0 -25px; }

#fig-viewer .btn { cursor: pointer; font-size: 13px; line-height: 28px; margin-right: 5px; }
#fig-viewer .active { cursor: default; }

#fig-viewer .lnks { background: #333; color: #fff; padding: 17px 20px 0; height: 78px; position: absolute; bottom: 0; width: 620px; }
#fig-viewer .lnks p { margin: 0; }
#fig-viewer .lnks .dl { margin-bottom: 12px; }
#fig-viewer .lnks .dl a { color: #fff; margin-left: 10px; white-space: nowrap; }
#fig-viewer .ppt:before { content: url(../images/icon.ppt.png); padding-right: 7px; position: relative; top: 1px; }
#fig-viewer .png:before { content: url(../images/icon.png.png); padding-right: 7px; position: relative; top: 1px; }
#fig-viewer .tiff:before { content: url(../images/icon.tiff.png); padding-right: 7px; position: relative; top: 1px; }
#fig-viewer .pdf:before { content: url(../images/icon.pdf.png); padding-right: 7px; position: relative; top: 1px; }

#fig-viewer-thmbs { padding: 5px 0 20px; background: #efefef; width: 208px; float: right; height: 605px; overflow: auto; }
#fig-viewer-thmbs .thmb { width: 162px; margin: 0 auto; height: 104px; overflow: hidden; padding: 4px 5px; background: #fff; border: 5px solid #efefef; cursor: pointer; }
#fig-viewer-thmbs .active { border-color: #f8af2d; }
#fig-viewer-thmbs .thmb img { height: auto; width: auto; max-width: 162px; max-height: 104px; }

#fig-viewer-slides { width: 660px; height: 630px; overflow: hidden; float: left; position: relative; }
#fig-viewer-slides .slide { width: 660px; height: 100%; overflow: hidden; display: none; position: relative; }
#fig-viewer-slides .figure { padding-top: 20px; overflow: auto; height: 470px; }
#fig-viewer-slides .figure img { height: auto; width: auto; max-height: 470px; margin: 0 auto; }
#fig-viewer-slides .fig-btn { width: 23px; height: 50px; display: block; background-image: url(../images/btn.sprite.fig.png); position: absolute; top: 36%; cursor: pointer; }
#fig-viewer-slides .prev { left: 7px; background-position: 0 0; }
#fig-viewer-slides .prev:hover { background-position: 0 -50px; }
#fig-viewer-slides .next { right: 7px; background-position: -25px 0; }
#fig-viewer-slides .next:hover { background-position: -25px -50px; }
#fig-viewer-slides .txt { position: absolute; bottom: 105px; left: 10px; width: 620px; padding: 18px 10px 5px; z-index: 10; }
#fig-viewer-slides .title { font-size: 14px; font-weight: bold; line-height: 1.071; }
#fig-viewer-slides .txt .toggle { line-height: 1.154; color: #3c63af; text-decoration: underline; cursor: pointer; margin-left: 5px; }
#fig-viewer-slides .desc { display: none; color: #666; font-size: 0.923em; padding: 15px 20px 0 0; }
#fig-viewer-slides .expand { background: #efefef; }
#fig-viewer-slides .expand .desc { display: block; }

#fig-viewer-abst { display: none; height: 630px; }
#fig-viewer-abst .txt { font-size: 1.077em; line-height: 1.429; padding: 0 80px 0 20px; height: 535px; overflow: auto; }
#fig-viewer-abst .txt p { margin: 25px 0; }

.abstract #fig-viewer-slides { display: none; }
.abstract #fig-viewer-thmbs { display: none; }
.abstract #fig-viewer-abst { display: block; }
#fig-viewer.abstract .lnks { width: 830px; }


#modal-mask { background: #000; position: absolute; top: 0; left: 0; z-index: 500; opacity: 0.6; filter: alpha(opacity=60); }



/*toc*/
#toc-block h1 { margin-bottom: 50px;  }

#toc-block .section { background: #fff; margin-bottom: 20px; font-size: 0.923em; padding-top: 30px; }
#toc-block .section .item { padding: 25px 35px 30px 40px; }
#toc-block .section .header { margin-bottom: 10px; }
#toc-block .section h2 { font: 20px/1 'FS Albert Web Regular', Verdana, sans-serif !important; font-size-adjust: 0.48; margin: 0 40px; }
#toc-block .section h3 { font-size: 16px; line-height: 1.125; }
#toc-block .section h3 a { color: #333; }
#toc-block .section h3 a:hover { color: #3c63af; text-decoration: none; }
#toc-block .section .authors { color: #666; }
#toc-block .section .related { float: right; width: 160px; }
#toc-block .section .txt { float: left; width: 455px; border-right: 1px solid #dedede; padding-right: 35px; }
#toc-block .related h4 { font-size: 14px; border-bottom: 1px solid #dedede; line-height: 1.143; padding-bottom: 10px; margin-bottom: 8px; }
#toc-block .links { font-size: 0.917em; line-height: 1; border-top: 1px solid #dedede; padding-top: 8px; }
#toc-block .links a { font-weight: bold; }
#toc-block .cover { background: #363636; color: #fff; border-radius: 5px; padding: 20px 50px 40px 40px; }
#toc-block .cover .header { text-align: center;  margin-bottom: 30px; }
#toc-block .cover .kicker { font-size: 0.917em; line-height: 1; margin-bottom: 5px; }
#toc-block .cover h2 { font: 22px/1 arial sans-serif; margin-bottom: 5px; }
#toc-block .cover .img { float: left; width: 320px; border-right: 1px solid #bbb; }
#toc-block .cover .txt { float: right; width: 315px; border: 0; padding: 0; font-size: 1.167em; line-height: 1.286; }
#toc-block .cover a { color: #fff; }
#toc-block .cover .txt a { text-decoration: underline; }
#toc-block .cover h2 a:hover { color: #f8af2d; text-decoration: none; }
#toc-block .cover .credit { color: #d6d6d6; }