/* 	-------------------------------------------------------------

	PRINT STYLE SHEET FOR : all plos journals
	CREATED ON 	: 08-26-2006
	CREATED BY	: MARGARET SHEAR
	MODIFIED BY	: SEBASTIAN TOOMEY

   	------------------------------------------------------------- */

html { color: #000!important; width: 100%!important; font-size: 100%; background-image:none; }

#topBanner,
#hdr,
div.beta,
#nav,
#ftr ul,
div.powered,
#rhc,
ol.references a.find,
div#ftr ul,
span#oa,
a.bug,
a:visited.bug,
#articleMenu { display:none !important; }

a,
a:link,
a:visited { text-decoration:none; color:#000;}

body,
div#content,
div.content 	{ width:auto!important; margin:0!important; padding:0!important; border:none!important; }
* html body,
* html div#content,
* html div.content 	{ width:6.75in!important; }
p.intro							{ border:1px dotted #000 !important; }
.edboard dl,
.edboard dt,
.edboard dd	{ background:none!important; border:none; }
div.fch p.fch { text-indent:0; background:none; }

div#contentHeader,
div#contentHeader p#articleType,
div#publisher,
div#publisher p { font-size:.9em!important; text-indent:0 !important; display:inline !important; border-bottom:0 !important; }
div#contentHeader p#articleType { padding-right:.5em !important; }
#researchArticle h1 { margin-top:0; font-size:18pt;}
div.static h2,
div.abstract h2,
div.content h3 { border-bottom-color:#000; }
div.static h3,
div.abstract h3,
div.content h4 { font-size:1.2em; }
#researchArticle span.authors { display:block; }
div.articleinfo { border:2px solid #ccc; padding:10px; }
div.static ul li,
div.content ul li { list-style-type:disc; list-style-position:inside; }
body, p { font-size: 10pt !important; }
body div.articleinfo p,
body #ftr p { font-size:8pt!important; color:#000; border-bottom:none;}
div#ftr { background:#FFF; font-size:.85em; width:100%; border-top:1px solid #ccc; }