/*
----------------------------------------------------------
Global Homepages Style Sheet for PLoS Journals

Created on: August 22, 2006
Created by: Margaret Shear
Modified on: August 8, 2007
Modified by: Sebastian Toomey
----------------------------------------------------------
All journal specific styles, colors are on individual
journal style sheets
----------------------------------------------------------
*/


body		{ background-color: transparent;}
#wrap 		{ margin: 0 auto 0 auto; width: 940px; padding: 0 0 10px 0; line-height: 1.5em; position: relative;}
#content 	{ margin-left: 0; }

/* Homepage : Elements
----------------------------------------------------------
*/
#home			{ position: relative; background:  url(../images/pone_home_bg.gif) no-repeat 0 9px!important; margin: 0; margin-top: -30px; border:0;}/* removed border to fix 1px vertical alignment discrepency in IE7*/
#home img,
#home object		{ display: inline; position: relative;}
#home a:hover 	{ text-decoration: underline; } /* apply a border in hover state */
#home a:hover h1{ color: inherit; } /* this ensures that the headings in the ad blocks will highlight appropriately */
#home h2		{ margin: 10px 0; font-size: 1.8em; border:none; }
div.recent h2	{ margin-bottom:0 }
h3		{ font-size: 1.6em; line-height:1.2em; margin:0 0 10px 0; padding:0 0 3px 0; color:#444; border-bottom:1px solid #ccc; }
div.other h3 { border-bottom:0; font-family:Verdana, sans-serif; font-size:.9em; margin:10px 0 8px 0; padding:0; }
div.other h3 em { font-weight:bold; }
h4 { font-size:0.9em; margin:5px 0 0; padding:0; }

/* suppresses underlined links in lists, preserves underlind hover state */
#home ul li a,
#home ul li a:link,
#home ul li a:visited,
#home dl dd a,
#home dl dd a:link,
#home dl dd a:visited { text-decoration:none; }
#home ul li a:hover,
#home dl dd a:hover  { text-decoration:underline; }
	
/* Homepage : Layout : Structure
----------------------------------------------------------
This layout has been adapted from the Yahoo Developer's Interface Library
Software License Agreement (BSD License)
----------------------------------------------------------
Copyright (c) 2006, Yahoo! Inc.
All rights reserved.
----------------------------------------------------------
*/
/* all modules and grids nested in a grid get floated */
.col .subcol, .col .col 	{ float:right; display:inline;   /* for ie */ }
/* float left and kill margin on first for added flex */
#first, .col .first 		{ float:left; }
/* container column 1 */
#first 						{ width:518px; padding-top:12px; }

/* column 1 --This column is empty-- */

/* column 2 */
#first .last 				{ width:490px; position:relative; margin-right:5px; }

/* blocks in column 1, subcolumn 2 - i.e. the primary content area */
#first .last .block { margin:20px 0; padding:0; border:1px solid #ccc; background:transparent; }
#first .last .block h2 { margin:0; padding:8px 10px 6px 10px; border-bottom:1px dashed #ccc; background:#efefef; }
/*#first .last .block p { margin:0; font-size:.9em; }*/

/*ul.articles a:link,
ul.articles a:visited,
div.feature a:link,
div.feature a:visited,
div.recent a:link,
div.recent a:visited		{ font-weight: bold; }*/

#first .last div#info { margin:20px 0; padding:0; border:0; }
#first .last div#info h2 { padding-left:0; padding-top:1px; border:0; background-color:transparent; }
#first .last div#info p { margin:0 0 6px; }

/* contains columns 3 and column 4 */
#second 					{ width: 402px; padding-top:27px;}
/* column 3 */ 
#second .first 				{ width:253px; padding-top:3px; }
/* column 4 */
#second .last				{ width: 140px;}
#second p { font-size:.9em; }

/* lower contains lower background image */
#lower  { width:100%; margin:0; height:50px; padding-top:40px; clear:both; font-size:.9em; background:url(../images/pone_home_lower_bg.gif) no-repeat bottom center;}

/* layout for LAUNCH ONLY for marketing section */
#lower .first				{ margin: 0 0 0 80px; width: 100%;}
#lower .first div.ad		{ float: left; width: 260px; clear: none;}

/* self clear floated parent containers This is critical for proper display in IE7 */
#lower:after,
.col:after 					{content:".";display:block;height:0;clear:both;visibility:hidden;}	
#lower,
.col 						{zoom:1;} /* IE */
#lower h3					{ background-color: #ddd; letter-spacing: normal; font-size: 1em; margin-right: 10px 0; padding: 1px 5px; font-family: Verdana, Arial, Helvetica, sans-serif; }

/* all homepage content blocks are wrapped in class block for padding to avoid ie box model */
div.block 				{ margin:0; padding:0; clear: both; position: relative;}
div.block p { margin:0; font-size:.9em; }
div.block .section { margin:10px; padding:0 0 10px 0; border-bottom:1px solid #ccc;}
div.block .lastSection { border:0; margin-bottom:0; }

/* fixes float clearing bug */
.block:after					{ content: ".";  display: block;  height: 0; clear: both; visibility: hidden; }
div.clearer {clear:both; line-height:0; height:0; visibility:hidden; }

/* wraps banner ads */
div.banner				{ padding: 0; border: none; margin:0 0 4px 2px; }
div.banner img,
div.banner object 			{ float: none; margin:0 0 4px 2px!important; background: transparent;}
div.banner object			{ padding-top: 0; }

/* partner icons */
div.partner 				{ text-align: center; margin:0; padding:0; }
div.partner h6			{ font-weight: normal; text-align: center; font-size: .85em; margin: 0 0 0 10px; color: #999;text-transform: uppercase; background: url(../images/pone_home_partner_h6.gif) no-repeat top left; padding-top: 8px;}
div.partner img 			{ margin:0 20px; vertical-align:top;}

/* blocks in right-hand column */
div#second div.first div.block { margin-bottom:15px; }
div#second div.first div.block  p { margin:0 0 5px 0; }
div#second div.first div.block  ul { margin:0; padding:0; }
div#second div.first div.block  ul li { background:transparent url(../images/pone_home_articles_li_bg.gif) no-repeat scroll 0pt 10px; font-size:0.9em; list-style-type:none; margin-left:10px; padding:3px 0pt 3px 10px; }

/* Stay Connected block - list styles */
div#connect ul { margin-bottom:10px; padding:0; text-indent:0; }
div#second div.first div#connect ul li { list-style-type:none; background:none; margin-left:0; margin-bottom:.8em; padding:3px 0; font-size:.9em; line-height:1.5em; }
div#connect ul li img { margin:0 .5em -.2em 0; }
div#connect ul li a,
div#connect ul li a:link,
div#connect ul li a:visited { text-decoration:underline; }

/* outreach block styles, based on those from non-Topaz journals */ 
div#adWrap { position:relative; margin:30px 0 20px 0 }
#home #second div.block.ad	{ margin:0 0 6px 0; padding:0; border:1px solid #ccc; background:#efefef; clear:left; }
div.block.ad img { border:1px solid #ccc; display:block; float:left; }
div.ad a:hover img { border:1px solid #0033cc; }
div.block.ad a { overflow:hidden; width:239px; }
div.block.ad a,
div.block.ad a:link,
div.block.ad a:visited { color:#555; text-decoration:none; display:block; padding:6px; }
#home div.block.ad a:hover { text-decoration:none; border:2px solid; padding:4px; }
#home div.ad a:hover { background-color:#bfd4ff; border-color:#0033cc; color:#0033cc; }
div.block.ad a span.body { font-size:.9em; display:block; }
#home div.block.ad a strong { font:normal 1.4em  Georgia,"Times New Roman",Times,serif; letter-spacing:-0.05em; line-height:1.25em; text-decoration:none; display:block; margin-bottom:0.2em; }
#home div.block.ad a span.body { line-height:1.5em; }
#home div.block.ad a strong,
#home div.block.ad a span.body { margin-top:0; margin-left:70px; }
#home div.block.ad a span.body:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
	
div.mainnav	{ margin: 30px 0 0 ; padding: 20px 0 10px 0;}
.mainnav ul,			
.mainnav ul li 		{ margin: 0; padding: 0; list-style-type: none; }
.mainnav ul			{ text-indent: 10px; margin: 0; padding: 10px;position: relative; }
.mainnav ul li a 	{ font-family: Georgia, "Times New Roman", Times, serif; font-size: 1.5em; letter-spacing: -.03em; line-height: 1.6em; margin-right: 10px;}
.mainnav dl			{ margin: 10px 0; padding:0; text-indent: 0; }
.mainnav dt			{ background-color: #D2F7FF; margin: 5px 0 0 0; padding-right: 5px; font-size: .85em;}			

#home div.other ul,
#home div.other p,
#home div.recent ul,
#home div.recent p { margin:5px 0pt 10px; padding:0pt; text-indent:0pt; }

/*#home div.feature,
#home div.recent	{ padding: 0;}
#home div.feature div,
#home div.info div,
#home div.recent div 	{ padding: 0 10px;}
#home div.info div	{ padding-bottom: 0; }
#home div.info p	{ margin:0 0 1.5em 0; }
div.recent p		{ margin: 0 0 10px 0; font-size: .9em; }*/

/*#home div.info		{ padding-bottom: 0;*/ /*margin-left: 0;*/ /*padding-left: 0;}
#home div.info ul	{ margin: 0; padding: 0; text-indent: 0;}
#home div.info li	{ background: url(../images/pone_home_new_bullet.gif) no-repeat 0 4px; padding: 0 0 5px 14px;margin:0; text-indent: 0; list-style-type: none; }*/

/* calls to action blocks */
div#alerts,
div#rss	{float:left; margin:0 0 20px 0; font-size:.9em; line-height: 1.2em}
div#alerts { margin-right:5px; }
div#rss .adInfo { display:block; position:relative; top:3px; left:165px; background:none }
div#alerts a	{ display: block; background: url(../images/pone_block_alerts_bg.gif) no-repeat left top; width:241px;/*234px;*/ color:#555555; text-decoration:none; }
div#rss a	{ display: block; background: url(../images/pone_block_rss_bg.gif) no-repeat left top; width:241px;/*234px;*/ color:#555555; text-decoration:none; }
div#alerts a:hover,
div#rss a:hover	{background-position: -241px 0%; text-decoration:none; color:#03c}
div#alerts a span,
div#rss a span	{ display: block; background: url(../images/pone_block_btm_bg.gif) no-repeat left bottom; padding: 10px 10px 18px 70px; } /* span used for the sake of IE6 */
div#alerts a:hover span,
div#rss a:hover span	{background-position: -241px 100%;}
div.block.ad a strong, /* this one for advocacy blocks too */
div#alerts a span strong,
div#rss a span strong	{margin: 4px 0 5px 0; font-size:1.7em; font-weight:normal; font-family:Georgia,"Times New Roman",Times,serif;letter-spacing:-0.05em; text-decoration:none; display:block;}

/* browse widget */
#first .last div#browseWidget { background: url(../images/pone_home_browse_bg.gif) no-repeat left center; height:30px; border:0; }
div#browseWidget p { margin:0 0 0 35px; padding:.5em 0 0 0; vertical-align:middle; font-weight:bold;}

/* apply articles to all article lists on homepage */
ul.articles,
ul.articles li		{ margin: 0; padding: 0; list-style-type: none; }
ul.articles			{ margin: /*0 4px 10px 0*/0;  padding: /*10px 10px 0 6px*/0;}
#home ul.articles li		{ font-size: .9em; padding: 3px 0 3px 10px;background: url(../images/pone_home_articles_li_bg.gif) no-repeat 0 10px;}
ul.articles			{ margin: 5px 4px 10px 0;  padding: 10px 10px 0 6px;}
#home ul.articles li		{ font-size: .9em; margin-left:10px; padding: 3px 0 3px 10px; list-style:none; background: url(../images/pone_home_articles_li_bg.gif) no-repeat 0 10px;}