<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
  <!-- Allow command-line overrides etc. (eg. -Dtopaz.services.fedora.uri=xxx) -->
  <system/>
  <!-- Allow administrator overrides -->
  <xml fileName="file:///etc/topaz/plosOne.xml" optional="true"/>
  <!--<xml fileName="file:///D:/etc/topaz/plosOne.xml" optional="true"/>-->
  <xml fileName="plosOne.xml" optional="true"/>
  <!-- Shared defaults if no admin overrides -->
  <xml fileName="plosOneFreemarker.xml"/>
</configuration>
