<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
  <!-- Allow command-line overrides etc. (eg. -Dtopaz.services.fedora.uri=xxx) -->
  <system/>
  <!-- Allow administrator overrides -->
  <xml fileName="file:///etc/topaz/topaz.xml" optional="true"/>
  <!-- Defaults if no admin overrides -->
  <xml fileName="defaults.xml"/>
</configuration>
