#
# $HeadURL:
# $Id:
#
# Copyright (c) 2006-2011 by Public Library of Science
#
# http://plos.org
# http://ambraproject.org
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

fedora.host=http://XX_FEDORA_HOST_XX:9090/fedora/services/management
fedora.username=XX_FEDORA_USERNAME_XX
fedora.password=XX_FEDORA_PASSWORD_XX

mulgara.host=rmi://XX_MULGARA_HOST_XX:8111/topazproject

#For testing, limit the number of records(by type) to copy
#Set to -1 to not impose a limit
recordlimit=XX_RECORD_LIMIT_XX

readonly=true
#1 hour
timemout=3600000

